%p
  Hello, my name is Sumeet and I'm a web developer.  I work with with various companies to bring MVPs to
  fruition, as well as existing code bases.  Focusing my efforts on Ruby and Ruby
  on Rails projects.  Be it Sinatra, Padrino, Rails 2.x, Rails 3.x or beyond I am
  well versed in the art of Ruby and love every bit of it.

%p
  Javascript is another focus of mine.  I love working with single page apps at
  the moment(the new shiny).  Ember.js and Angular.js are growing.  These frameworks
  make it a delight to create single page apps&#0153;.  

%p
  I also like working on opensource projects.  Recently I've been working on 
  #{link_to('Padrino', 'http://www.github.com/padrino/padrino-framework')},
  a very neat framework without all the fluff.
%p
  If you have a project you need help on, don't hesitate to get in
  #{mail_to('ortuna@gmail.com', 'touch')}!

%h3
  Profiles 
  #{link_to('Github', 'http://www.github.com/ortuna')}, 
  #{link_to('Twitter', 'http://www.twitter.com/ortuna')},
  #{mail_to('ortuna@gmail.com', 'Email')}
