!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{ :name => "keywords", :content => "Sumeet Singh, Ruby, Ruby on Rails, developer, Virginia, Washington, D.C." }
    %meta{ :name => "description", :content => "Some things about web development and Ruby development by Sumeet Singh" }
    %meta{ :name => "viewport", :content => "" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1" }
    %title Ortuna.com
    = javascript_include_tag '//use.typekit.net/nko3zvy.js'
    = javascript_include_tag 'highlight.pack.js'

    :javascript
      try{Typekit.load();}catch(e){}

    = stylesheet_link_tag 'global',  :media => 'all'
    = stylesheet_link_tag 'ortuna',  :media => 'all'
    = stylesheet_link_tag 'default', :media => 'all'
    = stylesheet_link_tag 'tomorrow-night-bright',  :media => 'all'

    %link{ :href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon" }
    %link{ :href => "/images/icon.jpg", :rel => "apple-touch-icon" }
    :javascript
        hljs.tabReplace = '  ';
        hljs.initHighlightingOnLoad();
  %body
  .container
    .content
      = render_partial 'shared/header'
      = yield if block_given?
  = render_partial 'shared/ga'
